body {padding-top: 80px;}

.navbar-inner {
  .brand {
    img {height: 36px; width: 36px;}
  }
  .pull-right {
    a {margin-top: 8px;}
  }
}

.hero-unit {
  padding-top: 20px; padding-bottom: 20px;

  .hero-text {
    .addthis_toolbox {margin-top: 5px;}
    .pull {width: 50%; height: 40px;}
    .left {float: left;}
    .right {float: right;
      a {float: right; clear: both;}
    }
  }
}

.screenies {
  h4 {text-align: center;}
  img {width: 300px; margin: 20px auto; display: block;
    &.lengthen {margin: 88px auto;}
  }
}

footer {margin: 50px 0 0 0;}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}