body {padding-top: 80px;}

.hero-text {
  h1 {margin: 20px 0;}
  img {width: 165px; margin: 30px auto; display: block;}
  .addthis_toolbox {margin-top: 40px;}
}

.screenies {
  h4 {text-align: center;}
  img {width: 300px; margin: 20px auto; display: block;
    &.lengthen {margin: 88px auto;}
  }
}